*{margin: 0 ;padding:0;box-sizing: border-box;}
ul, ol, li{ list-style: none;} /* 목록의 숫자나 기호 제거 */
a{text-decoration: none;} /* 기본서식 밑줄을 제거 */


/* 공통서식 */
.content{width: 100%; padding: 120px 0;}
.inner{width: 1170px; margin: 0 auto;}
.title{margin-bottom: 40px; text-align: center; font: bold 28px 'inherit';}
 .wrap{display: flex;justify-content: space-between;}

/* 부모가 자식의 높이를 인지 못하므로, 이런 경우  높이를 설정해야 함.  */
 .board .tab{
    position: relative; 
    display: flex;
    /* flex : 자식요소가 높이x - 부모높이 100%로 자동 지정 */
    width: 100%; height: 400px;}
 .board .tab > li{}
 .board .tab > li > a{padding: 0 30px; line-height: 50px;}
 .board .tab > li > .panel{
    display: none;
    position: absolute; left:0; top:50px;
    width: 100%; height: 350px;
  
}
.board .tab > li.show > .panel{display:block}

.board .tab > li:nth-of-type(1) .panel{background-color: yellow;}
.board .tab > li:nth-of-type(2) .panel{background-color: pink;}
.board .tab > li:nth-of-type(3) .panel{background-color: skyblue;}


.btn{width: 200px;height: 50px; line-height: 50px; background-color: yellow;}

/* 

    * 자식 선택자
    띄어쓰기 : 자손중에 모든 요소를 선택
    > : 바로 하위 자식만 선택해라

*/

/* .panel과 .show클래스를 둘다 가지고 있는 요소를 선택한다 */
